<a href="https://colab.research.google.com/github/llohar/ML_ASS_4/blob/main/ML_Ass_4_soln.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv("/content/kyphosis.csv")

In [17]:
data.head(20)

   Kyphosis  Age  Number  Start
0    absent   71       3      5
1    absent  158       3     14
2   present  128       4      5
3    absent    2       5      1
4    absent    1       4     15
5    absent    1       2     16
6    absent   61       2     17
7    absent   37       3     16
8    absent  113       2     16
9   present   59       6     12
10  present   82       5     14
11   absent  148       3     16
12   absent   18       5      2
13   absent    1       4     12
14   absent  168       3     18
15   absent    1       3     16
16   absent   78       6     15
17   absent  175       5     13
18   absent   80       5     16
19   absent   27       4      9

In [37]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [20]:
data.isnull().sum()

Kyphosis    0
Age         0
Number      0
Start       0
dtype: int64

In [27]:
y=data.Kyphosis.values
x=data.drop(columns=['Kyphosis'])

In [28]:
x_data.head()

   Age  Number  Start
0   71       3      5
1  158       3     14
2  128       4      5
3    2       5      1
4    1       4     15

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3,random_state=0)

## **Q.1 Solution**

In [30]:
clf = clf.fit(x_train,y_train)

In [32]:
predictions = clf.predict(x_test)

In [33]:
prediction_probabilities = clf.predict_proba(x_test)

In [34]:
predictions

array(['absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent', 'absent', 'absent', 'absent', 'absent', 'present',
       'absent', 'absent', 'present', 'present', 'absent', 'absent',
       'absent', 'present', 'absent', 'absent', 'absent', 'absent',
       'present'], dtype=object)

In [ ]:
prediction_probabilities

In [38]:
print("Accuracy:",metrics.accuracy_score(y_test, predictions))

Accuracy: 0.68

In [40]:
from sklearn.tree import DecisionTreeClassifier

In [58]:
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)

In [59]:
clf = clf.fit(x_train,y_train)

In [60]:
y_pred = clf.predict(x_test)

In [70]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.76

##**Q.2 Soln**

In [76]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [103]:
rfc=RandomForestClassifier(n_estimators=100)
rfc.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [104]:
y_predicted=rfc.predict(x_test)

In [105]:
y_predicted

array(['absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent', 'absent', 'absent', 'absent', 'absent', 'present',
       'absent', 'absent', 'absent', 'present', 'present', 'absent',
       'absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent'], dtype=object)

In [106]:
print("Accuracy:",metrics.accuracy_score(y_test, y_predicted))

Accuracy: 0.76